<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>




<form method="post">
    <label for="name">Event Name</label>
    <input th:field="${event.name}" id="name">
    <p class="error" th:errors="${event.name}"></p><br>
    <label for="description">Description</label>
    <input th:field="${event.description}" id="description"><br>
    <p class="error" th:errors="${event.description}"></p>
    <label for="contactEmail">Contact Email</label>
    <input th:field="${event.contactEmail}" id="contactEmail"><br>
    <p class="error" th:errors="${event.contactEmail}"></p>
    <input type="submit" value="Create">
</form>

</body>
</html>